<div class="container">
  <h1>Find Friends Who Didn't Sign Their 2014 Ballot</h1>
  <h1>And Aren't Being Counted</h1>
  <p>Hi.  This is a quickly made tool that searches your friend's names against the current unsign ballot list in Oregon</p>
  <div class="row">
    <div class="col-sm-2">
      <span class="step">1</span>
    </div>
    <div class="col-sm-6">
        <p>Please press the login button, accept the permissions.</p>
        <p>Your information will not be used for another purpose or stored in any way.</p>
        <p>
          The code for this project is open-sourced and available here:
          <a href='http://github.com/lawwantsin/findUnsigned.git'>Source Code</a>
        </p> 
    </div>
    <div class="col-sm-4">
      <div class="login">
        <div class="login2">
          <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
          </fb:login-button>        
        </div>
      </div>  
      <div id="status"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <span class="step">2</span>
    </div>
    <div class="col-sm-10">    
      <div class="friends">
        <div class="found-none">
          <p>We didn't find any matches amongst your friends.  Good stuff!</p>
          <p>Now Share this so your friends can search too.</p>          
        </div>
        <div  class="found-some">
          <p>
            We found some matches!  
          </p>
            If they are Oregon voters, please message them ASAP.
          </p>
          <p>The deadline is November 18th, 2014.</p>          
          <p>Help your friends get counted.  Measure 92 is on the line!</p>          
          <ul class="matched-list">
          
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <span class="step">3</span>
    </div>
    <div class="col-sm-10">
      <p>Share this page with your friends so they can check too.  Tell them how easy it was.</p>
      <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
    </div>
  </div>
</div>
