/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 40px;
}
.step {
  display: block;
  text-align: center;
  font-size: 3em;
  border-radius: 100%;
  line-height: 100px;
  width: 100px;
  background-color: grey;
  color: white;
}
.login {
  background-color: #ddd;
  padding: 30px;
  position: relative;
}
.login2 {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.friends {
  width: 100%;
  min-height: 100px;
  padding: 40px 0 0 0;
}
.row {
  margin-bottom: 40px;
}
.searching, .found-none, .found-some {
  display: none;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}
.xl-logo {
  width: 50px;
}
.panel {
  margin-bottom: 0;
}
.matched-list .panel {
  margin-bottom: 20px;
  border-radius: 0px;
}
.matched-list .row {
  margin-bottom: 20;
}
