<!DOCTYPE html>
<html>
<head>
  <title>Find Friends Who Didn't Sign their 2014 Oregon Ballot with 1 Click.</title>
  <meta property="og:description" content="Oregon voters!  Measure 92 is on the line.  Find your friends who didn't sign their ballots with a single click!">
  <meta property="og:image"
content="/images/pic.jpg" />
  <meta property="og:title"
content="Find Friends Who Didn't Sign their 2014 Oregon Ballot with 1 Click." />
  <meta name="description" content="Oregon voters!  Measure 92 is on the line.  Find your friends who didn't sign their ballots with a single click!">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

<%= yield %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '615594845230579',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56774221-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
